html,body,.main{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }

input { 
    text-align: center; 
    font-size: 50;
    
}
text {
    text-align: center;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}

.layout {
    /* width: 1920px; */
    /* height: 1080px; */
  
    display: grid;
    grid:
      "home header settings" 1fr
      ". digitPrompt ." 1fr
      ". digitIn ." 1fr
      ". stats ." 1fr
      / 1fr 1fr 1fr;
    gap: 0px;
  
    justify-items: center;
    align-items: center;
  }
  
  .home { grid-area: home; }
  .header { grid-area: header; }
  .settings { grid-area: settings; }
  .digitPrompt 
    { 
        grid-area: digitPrompt; 
        align-self: end;
    }

  .digitIn 
    {
        grid-area: digitIn; 
        align-self: stretch;
    }

  .stats { grid-area: stats; }

  .fade-out-text {
    font-family: Arial;
    font-size: 20px;
    animation: fadeOut 5s;
    -webkit-animation: fadeOut 5s;
    -moz-animation: fadeOut 5s;
    -o-animation: fadeOut 5s;
    -ms-animation: fadeOut 5s;
  }
  
  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @-moz-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @-webkit-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @-o-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @-ms-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }