html,body,.main{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }

input { 
    text-align: center; 
    font-size: 50;
    
}
text {
    text-align: center;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}

.layout {
    /* width: 1920px; */
    /* height: 1080px; */
  
    display: grid;
    grid:
      "home header settings" 1fr
      ". digitPrompt ." 1fr
      ". digitIn ." 1fr
      ". stats ." 1fr
      / 1fr 1fr 1fr;
    gap: 0px;
  
    justify-items: center;
    align-items: center;
  }
  
  .home { grid-area: home; }
  .header { grid-area: header; }
  .settings { grid-area: settings; }
  .digitPrompt 
    { 
        grid-area: digitPrompt; 
        align-self: end;
    }

  .digitIn 
    {
        grid-area: digitIn; 
        align-self: stretch;
    }

  .stats { grid-area: stats; }

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.fade-out-text {
    animation: fadeOut 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
    -webkit-animation: fadeOut 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;

    -moz-animation: fadeOut 3s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;

    -o-animation: fadeOut 3s;
    -o-animation-iteration-count: 1;
    -o-animation-fill-mode: forwards;

    -ms-animation: fadeOut 3s;
    -ms-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
  }
  
  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @-moz-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @-webkit-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @-o-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @-ms-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

#settingsOverlay {
  position: fixed; /* Sit on top of the page content */
  margin-left: auto; 
  margin-right: 0;
  display: none; /* Hidden by default */
  width: 30%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(120, 205, 215); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  /* cursor: pointer; Add a pointer on hover */
}

#closeSettings 
{
  position: relative;
  float: right;
  margin-left: 0;
  margin-right: 4;
  margin-bottom: 0;
}